

.header-navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: .80rem;
}

    .header-navigation a {
        font-size: 12px;
    }

    .header-navigation .breadcrumb {
        margin-bottom: 0;
        background-color: transparent;
        padding: 0.20rem 1rem;
    }

    .header-navigation .btn-group {
        margin-left: auto;
    }

    .header-navigation .btn-share {
        position: relative;
    }

        .header-navigation .btn-share::after {
            content: "";
            width: 1px;
            height: 50%;
            background-color: #ccc;
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translateY(-50%);
        }

.store-body {
    display: flex;
    flex-direction: row;
    padding: 0;
}

    .store-body .product-info {
        width: 60%;
        border-right: 1px solid rgba(0,0,0,.125);
    }

    .store-body .product-payment {
        width: 40%;
        padding: 15px 15px 0 15px;
    }

.product-info .product-gallery {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.product-gallery-featured {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 15px 0;
    cursor: zoom-in;
}

/*

.product-gallery-thumbnails .thumbnails-list li {
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
    width: 70px;
    height: 70px;
    margin-bottom: 10%;
}

.thumbnails-list li img {
    display: block;
    width: 110%;
}

.product-gallery-thumbnails .thumbnails-list li:hover::before {
    content: "";
    width: 3px;
    height: 100%;
    background: #007bff;
    position: absolute;
    top: 0;
    left: 0;
}

.product-info .product-seller-recommended {
    padding: 20px 20px 0 20px;
}*/

/*.product-comments textarea {
    height: 50px;
}

.last-questions-list li {
    margin-bottom: 20px;
}

    .last-questions-list li span {
        padding-left: 10px;
    }*/

.product-page {
    margin-top: 10%;
}

.product-gallery-featured img {
    width: 75%;
    padding: 10% 10% 15% 10%;
}

.tabs-container {
    margin-top: 5%;
}

.product-description li {
    list-style: circle;
}


.add input[type=submit] {
    /*border-radius: 25px;
    background: #212529;
    color: #fff;
    padding: 5px 20px;
    display: inline-block;
    border: solid 2px #212529;
    transition: all 0.5s ease-in-out 0s;
    cursor: pointer;
    font-size: 14px;*/

    background-color: #ca3f49;
    outline: none;
    border: none;
    border-radius: 300px;
    width: 100%;
    max-width: 158px;
    height: 38px;
    color: white;
    font-size: clamp(10px, 1.5vw, 15px);
    margin-left: 20px;
    letter-spacing: 0.12em;
}

    /*.add input[type=submit]:hover {*/
        /* background-color: white;
        transition: all 1.2s;
        border: none;
        color: #222;*/
        /*background: transparent;
        color: #212529;
        text-decoration: none;
    }*/



.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}


.flip-box {
    background-color: transparent;
    width: 300px;
    border: none;
    perspective: 1000px;
    float: right;
    position: relative;
    text-align: center;
}

.flip-box-inner {
    position: relative;
    width: 30px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    float: right;
    position: relative;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
    float: right;
    position: relative;
}

.flip-box-front, .flip-box-back {
    position: absolute;
    width: 30px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    float: right;
}


.flip-box-back {
    color: white;
    transform: rotateY(180deg);
    float: right;
}
