/* Filter design */

.filters-primary {
    height: 100px;
    background-color: rgb(246, 246, 246);
    opacity: 0.85;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.filter-title {
    font-size: medium;
    vertical-align: middle;
    position: absolute;
    width: 100%;
    text-align: center;
    color: rgb(0,0,0,0.8);
}

.filter-row{
    display:inline-flex;
    width:100%;
    vertical-align:middle;
    height:fit-content;
    flex-basis: 20%
}

/* Search */
.search-form #btnSearch {
    padding: clamp(0px, 1vw, 10px);
    border: none;
    border-radius: 100vh;
    margin: 0;
    background-color: #fff;
}

.search-form {
    margin: 10px;
    background-color: white;
    border-radius: 300px;
    padding: 8px 7px 7px 30px;
    display: flex;
    justify-content: left;
    align-items: center;
    position:relative
}

.search_input {
    border-radius: 100vh;
    border: none;
    background: none;
    font-size: 18px;
    outline: none;
    color: #acacac;
}

/* Dropdown */
.dropdown {
    margin: auto clamp(5px, 2vw, 15px);
}

.dropdown #dropdownMenuButton1 {
    background-color: #fff;
    color: black;
    border: none;
    outline: none;
    width: 100vw;
    max-width: 250px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-pack: distribute;
    justify-content: space-around !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: clamp(13px,1.5vw,18px);
}

.dropdown .dropdown-menu {
    width: 100vw;
    max-width: 250px;
}

.dropdown .dropdown-menu .dropdown-item {
    font-size: clamp(15px,1.5vw,18px);
    padding-top: 5px;
}