.back {
    background: linear-gradient(to right, #434545, #787a7a);
}

.title {
    color: black;
    font-family: "Roboto Slab","Times New Roman",serif;
    font-size: 15px;
}

.card-img-left {
    width: 45%;
    background: scroll center url('/Image/reg.jpg');
    background-size: cover;
}


.btn-reg {
    background-color: #ca3f49;
    outline: none;
    border: none;
    border-radius: 300px;
    width: 100%;
    height: 38px;
    color: white;
    font-size: clamp(10px, 1.5vw, 15px);
    margin-left: 20px;
    letter-spacing: 0.12em;
    margin: 3px;
    outline: none;
    letter-spacing: 0.12em;
    color: #000;
    font-size: 10px;
    font-weight: 400;
}
